<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Workplace/Project IDEA/SimbirSoftAPI">
        <classes>
            <class name="org.simbirsoft.tests.UserEmail">
                <methods>
                    <include name="CheckingTheFirstUser"/>
                    <include name="CheckingTheSecondUser"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>